nav(role='navigation')
  span.menuToggle
    input(type="checkbox")
    span
    span
    span
    ul.menu  
      a.item-link(ui-sref='navbar.home')
        li.item-link
          | Home
      a.item-link(ui-sref='navbar.modules')
        li.item-link
          | Modulos
      a.item-link(ui-sref='navbar.presets')
        li.item-link
          | Acciones
      a.item-link(ui-sref='navbar.stats')
        li
          | Estadísticas
ui-view