.page {
  text-align: center;
  margin: 50px 30px;
  background-color: $white;
  height: 500px;
  color: orange;
  font-size: 50px;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: 300px;
}
.algo {
  background: $alto url('../assets/logo.png') no-repeat center;
}
