.modules-list
    span.module-title
      | Nombre
    span.module-title
      | Descripción
    span.module-title
      | Clave Única  
    span.module-title
    span.module-title
.modules-list(ng-repeat='module in $ctrl.modules')    
    span.module-name
      | {{module.name}}
    span.module-description
      | {{module.description}}
    span.module-key
      | {{module.unique_key}}
    a.modify-link(ui-sref='navbar.abmModules({ key: module.unique_key, name: module.name, description: module.description })')
      | Modificar
    a.delete-link(ui-sref='$ctrl.deleteModule(module.unique_key)')
      | Eliminar
a.add-link(ui-sref='navbar.abmModules()')
      | Agregar