@import '~wolox-equalizer/equalizer';

@import 'variables/colors';

@import 'variables/sizes';

@import 'base';

@import '../components/home/home';

@import '../components/navbar/navbar';

@import '../components/modules/modules';

@import '../components/abmModules/abmModules';

@import '../components/presets/presets';

@import '../components/stats/stats';

* {
    font-family: 'Roboto', serif, 400;
  }
  
  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  %robotoRegular {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
  }
  
  %robotoItalic {
    @extend %robotoRegular;
    font-style: italic;
  }
  
  %robotoBold {
    @extend %robotoRegular;
    font-weight: 700;
  }